@page "/"
@page "/{Playlist}"

@using MIDIPianoJukebox.Data
@inject NavigationManager NavigationManager
@inject JukeboxService JukeboxService

@if (jukebox == null)
{
    <div style="text-align: center; align-content: center; vertical-align: middle">
        <em>Loading...</em><br />
        <img src="/giphy.gif" alt="Loading..." />
    </div>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <div class="mat-elevation-z4" style="padding: 10px;">
                    <h3>@Playlist (@($"{jukebox.Queue.Count:#,##0}"))</h3>
                    <MatButton Icon="@MatIconNames.Shuffle" Raised="@Shuffle" Outlined="@(!Shuffle)" OnClick="@(m => Shuffle = !Shuffle)">Shuffle</MatButton>
                    <MatButton Raised="true" Icon="@MatIconNames.Skip_next" OnClick="@(e => doPlayNext())" Disabled="@(!jukebox.Queue.Any())">Play Next</MatButton>
                    @if (jukebox.Current.State == States.Playing)
                    {
                        <MatButton Raised="true" Icon="@MatIconNames.Pause_circle_filled" OnClick="@(e => doPause())">Pause</MatButton>
                    }
                    else if (jukebox.Current.State == States.Paused)
                    {
                        <MatButton Raised="true" Icon="@MatIconNames.Play_circle_outline" OnClick="@(e => doPlay())">Resume</MatButton>
                    }
                    @if (jukebox.Current.State != States.Stopped)
                    {
                        <MatButton Raised="true" Icon="@MatIconNames.Replay" OnClick="@(e => doReplay(0))" Disabled="@(!jukebox.Queue.Any())">Replay</MatButton>
                        <MatButton Raised="true" Icon="@MatIconNames.Fast_forward" OnClick="@(e => doSkip(10_000))" Disabled="@(!jukebox.Queue.Any())">Skip 10</MatButton>
                    }

                    @if (jukebox.Current.State == States.Stopped)
                    {
                        <span>Stopped</span>
                    }
                    else if (jukebox.Current.State == States.Playing)
                    {
                        <span>Playing</span>
                    }
                    else if (jukebox.Current.State == States.Paused)
                    {
                        <span>Paused</span>
                    }
                </div>
                @if (jukebox.Current.Tune != null)
                {
                    <div class="mat-layout-grid-inner mat-elevation-z4" style="padding: 10px">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1 justify-right">
                            @jukebox.Current.CurrentTime.ToString("m\\:ss")
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
                            <MatProgressBar Progress="@jukebox.Current.Progress" Style="height: 18px"></MatProgressBar>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                            @jukebox.Current.RemainingTime.ToString("m\\:ss")
                        </div>
                    </div>
                    <TuneCard Tune="@jukebox.Current.Tune" OnRatingChanged="@(r => doRatingChanged(jukebox.Current.Tune, r, true))"></TuneCard>
                }
                <div class="mat-elevation-z4" style="padding: 10px; margin-bottom: 10px;">
                    <div>
                        @{
                            var pl = jukebox.Playlists.Where(pp => pp.Tunes.Count > 0).OrderBy(pp => pp.Name).ToList();
                            var last = pl.Count - 1;
                            var comma = ", ";
                            foreach (var p in pl.Select((p, i) => new { p, delim = i < last ? comma : string.Empty }))
                            {
                                <a href="@($"/{p.p.Name}")" class="navItem">@p.p.Name&nbsp;(@($"{p.p.Tunes.Count:#,##0}"))</a>@p.delim
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Playlist { get; set; }
    bool Shuffle = true;
    Jukebox jukebox;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        NavigationManager.LocationChanged += (s, e) => doNavTo();
        jukebox = await JukeboxService.GetJukeboxAsync();
        jukebox.Current.ProgressChanged += (s, e) => InvokeAsync(() => StateHasChanged());
        JukeboxService.ReadyToPlayNext += (s, a) => InvokeAsync(() => doPlayNext());
        doNavTo();
    }

    protected void doNavTo()
    {
        if (jukebox == null) return;

        if (string.IsNullOrWhiteSpace(Playlist))
        {
            Playlist = jukebox.Playlists.OrderBy(p => p.Tunes?.Count ?? 0).Select(p => p.Name).FirstOrDefault();
        }

        var p = jukebox.Playlists.FirstOrDefault(p => p.Name.Equals(Playlist, StringComparison.CurrentCultureIgnoreCase));
        if (p != null)
        {
            JukeboxService.DequeueAll();
            JukeboxService.EnqueueAll(p.Tunes.OrderBy(t => t.Filepath).ToList());
        }
        StateHasChanged();
    }

    protected void doRatingChanged(Tune t, float rating, bool next = false)
    {
        t.Rating = rating;
        JukeboxService.SaveTune(t);
        if (next && rating <= 3f) JukeboxService.PlayNext(Shuffle);
        StateHasChanged();
    }

    protected void doPlay()
    {
        JukeboxService.ResumePlayer();
        StateHasChanged();
    }

    protected void doPlayNext()
    {
        JukeboxService.PlayNext(Shuffle);
        StateHasChanged();
    }

    protected void doPause()
    {
        JukeboxService.PausePlayer();
        StateHasChanged();
    }

    protected void doSkip(int ticks)
    {
        JukeboxService.SkipPlayer(ticks);
        StateHasChanged();
    }

    protected void doReplay(int ticks)
    {
        JukeboxService.SkipPlayerTo(ticks);
        StateHasChanged();
    }
}
