@if (!JukeboxService.Loaded)
{
    <div style="text-align: center; align-content: center; vertical-align: middle">
        <em>Loading...</em><br />
        <img src="/giphy.gif" alt="Loading..." />
    </div>
}
else
{
    <MudCard Outlined="true">
        <MudCardContent>
            <MudStack Row="true" Spacing="4">
                <MudTextField @bind-Value="MIDIPath" Label="MIDI Path" Variant="Variant.Outlined" Disabled="@Processing"></MudTextField>
                <MudButton StartIcon="@Icons.Material.Filled.Refresh" OnClick="@(_ => DoDatabaseRefresh())" Disabled="@Processing" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">Import MIDI Files</MudButton>
            </MudStack>
            <MudSelect Dense="true" T="string" Label="MIDI Output Device" Variant="Variant.Outlined" Value="@JukeboxService.Settings.OutputDevice" ValueChanged="@DoChangeOutputDevice">
                @foreach (var od in JukeboxService.GetDevices())
                {
                    <MudSelectItem Value="@od.Id">@od.Name</MudSelectItem>
                }
                <MudSelectItem Value=@("refresh")>(Refresh List)</MudSelectItem>
            </MudSelect>

            <div style="height: calc(100vh - 330px)">
                @if (Processing)
                {
                    <MudProgressLinear Color="Color.Primary" Striped="true" Value="@Progress" Size="Size.Large" />
                }
                @foreach (var log in JukeboxService.Log)
                {
                    <div>@log</div>
                }
            </div>
        </MudCardContent>
    </MudCard>
}