<MudCard>
    <MudCardHeader Class="pb-0">
        <CardHeaderContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">@Tune.Name</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0">
        <MudSimpleTable Dense="true" Hover="false" Bordered="false" Striped="false">
            <thead>
                <tr>
                    <th>Plays</th>
                    <th>Duration</th>
                    @if (OnRatingChanged.HasDelegate)
                    {
                        <th>Rating</th>
                    }
                    <th>MIDI Tracks</th>
                    <th>MIDI Messages</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Tune.Plays</td>
                    <td>@Tune.Duration.ToString("m\\:ss")</td>
                    @if (OnRatingChanged.HasDelegate)
                    {
                        <td><MudRating Size="@Size.Small" SelectedValue="@(Convert.ToInt32(Tune.Rating))" MaxValue="5" SelectedValueChanged="DoRatingChanged" /></td>
                    }
                    <td>@Tune.Tracks</td>
                    <td>@($"{Tune.Messages:#,##0}")</td>
                </tr>
                <tr>
                    <td colspan="6">
                        @foreach (var tag in Tune.Tags)
                        {
                            <MudChip T="string" Variant="Variant.Text" Color="Color.Primary" Size="Size.Small">@tag</MudChip>
                        }
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudCardContent>
</MudCard>